doctype html
html
  head
    title= title
    link(rel="stylesheet" href="/styles/successive.css")
  body
    h1= title
    #successive-app
    script(src="/successive.min.js" type="text/javascript")
