doctype html
head
  title To Do
  style.
    * {
      font-family: 'Arial'
    }
    li.todo {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      margin-right: 10em;
    }
    span.edit {
      margin-right: 1em;
      cursor: pointer;
    }
    span.desc {
      flex: 1 1 auto;
    }
    span.completed {
      cursor: pointer;
      width: 3em;
      text-align: right;
    }
    span.remove {
      color: red;
      cursor: pointer;
      margin-left: 1em;
    }
body
  h1= title
  ul.todos
    each todo, index in todos
      li.todo
        span(title="Edit Item").edit &#9998
        span.desc= todo.desc
        span(title="Complete Item").completed= todo.completed
        span(title="Remove Item").remove ✕
  input.new-item(type="text" placeholder="New Item..." style="margin-left:40px;width:20em;")
  button.add-new-item Add Item
  if user
    script.
      const todos =!{JSON.stringify(todos)}
    script(src="/scripts/todo.js")
