<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>Evermore</title>
<meta name="description" content="Evermore">
<meta name="author" content="David Woods">
<style>
html, body {
	margin: 0;
	background-color: #efefed;
	font-size: 18px;
	color: #232323;
	font-family: "sans-serif";
	line-height: 1.6;
}
.wrapper {
	margin: 2em;
}
</style>
</head>
<body>
	<div class="wrapper">
		<h1>This is Evermore</h1>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus rhoncus, nunc ut ullamcorper tincidunt, lacus quam tincidunt enim, at hendrerit erat justo fringilla nunc. Nam rhoncus, turpis a varius scelerisque, metus quam imperdiet nulla, pharetra tincidunt mauris dui at enim. Nullam ac tristique arcu, ac cursus mauris. Morbi ultricies blandit ultrices. Etiam at ex orci. Duis pretium elementum urna eget consequat. Donec accumsan tellus ut ex ornare sollicitudin. Pellentesque eget efficitur velit. Aliquam erat volutpat. Vivamus dignissim velit sit amet ligula porta, eu aliquet mauris laoreet. Donec condimentum, arcu non commodo feugiat, odio dui faucibus quam, at euismod odio ligula eget mi. Aliquam erat volutpat. Pellentesque convallis lacus ac magna scelerisque lacinia.</p>
	</div>
</body>
</html>
