doctype html
html
  head
    title Sabers
    link(rel="stylesheet" href="/styles/sabers.css")
  body
    .lightsaber.blue
      .blade
      .hilt
        .knob
        .cutaway
          .bloom
        .shine
          .shine-inner
          
    .lightsaber.red
      .blade
      .hilt
        .knob
        .cutaway
          .bloom
        .shine
          .shine-inner
